.h1, h2{
    text-align: center;
    font-family: opendyslexicaltabold;
    
}

h3{
    font-family: opendyslexicaltabold;
}

img{
    max-width: 45%;
    height: auto;
}
/*
.backgroundBody{
    
      width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
*/
body{
     background-image: url(Horses/naturalBackground.jpeg);
   background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
}
.oneToolbar{
  text-align: center;
  display: inline-block;
  Margin-left: 25px;
  margin-top: 5px;
   margin-bottom: 2px;
}

.twoToolbar{
  text-align: center;
  display: inline-block;
  Margin-left: 283px;
   margin-top: 5px;
   margin-bottom: 2px;
}

.respond{
     background-color: lightgray;
    display: inline-block;
    text-align: center;
    
}
.horseList, .horseType{
    background-color: lightgray;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: opendyslexicaltaregular;
   text-align: left;
   font-size: 20px;
  font-weight: bold;
}

.horsePage{
  text-align: left;
}

.horseList1{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    }

.horseList2{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

aImage{
    display:block;
}

@font-face {
    font-family: 'opendyslexicaltabold';
    src: url('Fonts/opendyslexicalta-bold-webfont.woff2') format('woff2'),
         url('Fonts/opendyslexicalta-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'opendyslexicaltabold_italic';
    src: url('Fonts/opendyslexicalta-bolditalic-webfont.woff2') format('woff2'),
         url('Fonts/opendyslexicalta-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'opendyslexicaltaitalic';
    src: url('Fonts/opendyslexicalta-italic-webfont.woff2') format('woff2'),
         url('Fonts/opendyslexicalta-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'opendyslexicaltaregular';
    src: url('Fonts/opendyslexicalta-regular-webfont.woff2') format('woff2'),
         url('Fonts/opendyslexicalta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'opendyslexicmonoregular';
    src: url('Fonts/opendyslexicmono-regular-webfont.woff2') format('woff2'),
         url('Fonts/opendyslexicmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}